.blog{
    padding: 60px 0;
      margin-bottom: 120px;
      @media screen and (max-width:767px) {
        margin-bottom: 60px;
        padding: 30px 0;
      }
      @media screen and (max-width:367px) {
        margin-bottom: 50px;
      }
  &__container{
      display: flex;
      flex-direction: column;
      &-top{
         display: flex;
         align-items: center;
         justify-content: space-between;
         gap: 20px;
         margin-bottom: 40px;
         @media screen and (max-width:425px) {
          flex-direction: column;
         }
         & h2{
          margin-bottom: 0;
         }
      }
      &-slider{
          &-slide{
              display: flex;
                  flex-direction: column;
                  max-width: 100%;
                 background-color: $--white;
                 border-radius: 20px;
                 color: $--black-silver;
                 transition: .3s linear;
                  cursor: pointer;
                  &:hover{
                      background-color: $--blue;
                      color: $--white;
                  }
                  img{
                     max-width: 100%;
                      object-fit: cover;
                      border-radius: 20px;
                      margin-bottom: 20px;
                  }
                  &-content{
                    padding: 20px;
                      & .time{
                        font-weight: 400;
                      }
                      
                     & a{
                          display:-webkit-box;
                          white-space: normal;
                          overflow: hidden;
                          -webkit-line-clamp: 2; 
                          -webkit-box-orient: vertical;
                          box-orient: vertical;
                          text-overflow: ellipsis;
                          white-space: normal; 
                          margin-bottom: 5px;
                          &:nth-last-of-type(1){
                              -webkit-line-clamp: 1;                               
                              text-decoration: underline
                         }
                      }
                     & p{
                        display: -webkit-box;
                          white-space: normal;
                          overflow: hidden;
                          -webkit-line-clamp: 3; 
                          -webkit-box-orient: vertical;
                          box-orient: vertical;
                          text-overflow: ellipsis;
                          white-space: normal; 
                          margin-bottom: 10px;
                     }
                    
                  }
          }
      }
  }
}

.blog__container-top-arrows{
  @include arrowsWrap;
}

.blog-swiper-pagination {
    width: 150px;
    height: 10px;
  }
  
  .blog__container-top-arrow-next::after,
  .blog__container-top-arrow-prev::after{
  content: none;
  }
.blog .swiper-pagination-bullet.swiper-pagination-bullet {
    border-color: transparent;
    background-color: $--gray-line;
}
.blog .swiper-pagination-bullet-active.swiper-pagination-bullet-active {
    background-color: $--black-silver;
}