.comment{
    margin-bottom: 40px;
    &__container{
        padding: 40px;
        border: 1px solid $--gray-line;
        background-color: $--white;
        border-radius: 20px;
        &-wrap{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        }
        & .btn{
            max-width: 100%;
            width: 100%;
        }
    }
}