.contact{
    &__container{
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 20px;
        @media screen and (max-width:877px) {
            flex-direction: column;
        }
        &-contacts{
            padding: 40px;
            background-color: $--white;
            border-radius: 20px;
            border: 1px solid $--gray-line;
            max-width: 100%;
            width: 100%;
            & span{
                text-wrap: balance;
            }
            & .contacts{
                margin-bottom: 36px;
                gap: 12px;
            }
            & .social{
                & a{
                    min-width: 45px;
                    & svg{
                        min-width: 44px;
                        max-width: 44px;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        & iframe{
            border-radius: 20px;
            max-width: 640px;
            width: 100%;
            @media screen and (max-width:925px) {
                max-width: 100%;
            }
        }
    }
}