.expert{
        margin-bottom: 120px;
        @media screen and (max-width:767px) {
            margin-bottom: 60px;
          }
          @media screen and (max-width:367px) {
            margin-bottom: 30px;
          }  
    &__container{
        display: flex;
        flex-direction: column;
        padding: 56px;
        background-color: $--black-silver;
        border-radius: 20px;
        border: 1px solid transparent;
        .doctor-single  & {
            padding: 36px;
            @media screen and (max-width:767px) {
                padding: 18px;
              }
        }
        .about-page &,
        .doctor-single & {
            background-color: $--white;
            border-color: $--gray-line;
        }
        @media screen and (max-width:767px) {
            padding: 30px 20px;
          }
        &-top{
           display: flex;
           align-items: center;
           justify-content: space-between;
           gap: 20px;
           color: $--white;
           margin-bottom: 40px;
           @media screen and (max-width:425px) {
            flex-direction: column;
            margin-bottom: 20px;
           }
           .about-page &,
           .doctor-single & {
            & h2{
                color: $--black-silver;
            }
           }
           & h2{
            margin-bottom: 0;
           }
        }
        &-slider{
            &-slide{
                height: auto;
                display: flex;
                    flex-direction: column;
                    
                   background-color: $--white;
                   border-radius: 19px;
                   color: $--black-silver;
                   padding: 20px;
                   border: 1px solid transparent;
                   transition: .3s linear;
                    cursor: pointer;
                   .about-page &,
                   .doctor-single & {
                    border-color: $--gray-line;
                   }
                    &:hover{
                        background-color: $--blue;
                        color: $--white;
                       & .btn{
                            background: $--white;
                            color: $--blue;
                            border-color: $--white;
                        }
                       & .white-btn{
                            background: $--blue;
                            color: $--white;
                            border-color: $--white;
                        }
                    }
                    img{
                       max-width: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                        margin-bottom: 20px;
                    }
                        & .time{
                            display: inline-flex;
                            padding: 5px 15px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 500px;
                            background: $--white-blue;
                            font-weight: 500;
                            color: $--blue;
                            margin-bottom: 10px;
                            max-width: fit-content;
                        }
                        
                       & h3,
                       &-pos,
                        &-edu{
                            display: -webkit-box;
                            white-space: normal;
                            
                            overflow: hidden;
                            -webkit-line-clamp: 2; 
                            -webkit-box-orient: vertical;
                            box-orient: vertical;
                            text-overflow: ellipsis;
                            white-space: normal; 
                        }     
                        & h3{
                            text-transform: uppercase;
                            margin-bottom: 5px;
                            font-weight: 600;
                        }                  
                     &-pos,
                     &-edu{
                            font-size: 14px;
                            font-weight: 300;                           
                        }
                        &-pos{
                            -webkit-line-clamp: 1; 
                            margin-bottom: 5px;
                        }
                       &-edu{
                        margin-bottom: 20px;
                       }
                        & .btn{
                            max-width: 100%;
                            width: 100%;
                            margin-bottom: 5px;
                            padding: 12.5px;
                        }
                       & button{
                            margin-top: auto;
                        }
            }
            
        }
    }
}

.swiper-wrapper{
    padding-bottom: 30px;
    img{
        max-width: 100%;
        width: 100%;
    }
}
.expert__container-top-arrows{
    position: relative;
    display: flex;
    gap: 10px;
    max-width: 90px;
    width: 100%;
    height: 100%;
    @media screen and (max-width:425px) {
       display: none;
    }
}

.expert-swiper-pagination {
    width: 150px;
    height: 10px;
}

.expert__container-top-arrow-next::after,
.expert__container-top-arrow-prev::after{
  content: none;
}
