.footer{
    margin-bottom: 20px;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-top{
            display: flex;
            flex-direction: column;
            gap: 60px;
            border-radius: 20px;
            border: 1px solid $--gray-line;
            background: $--white;
            padding: 60px;
            align-items: center;
            background-color: $--white;
            @media screen and (max-width:925px) {
               
                padding: 40px;
            }
            @media screen and (max-width:767px) {
                gap: 30px;
                padding: 20px;
            }
            &-logo{
                margin: 0 auto;
            }
            &-wrap{
                display: flex;
                gap: 70px;
                @media screen and (max-width:1023px) {
                    gap: 35px;
                }
                @media screen and (max-width:767px) {
                    gap: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                &-item{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-width: 195px;
                    @media screen and (max-width:1023px) {
                        max-width: 100%;
                        align-items: center;
                        text-align: center;
                    }
                    
                    & a {
                       color:#A0A0A0;
                        transition: .3s ease;
                    &:hover{
                        color: $--blue;
                    }
                    @media screen and (max-width:1023px) {
                        max-width: 100%;
                        width: 100%;
                    }
                    }
                    & span{
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                    & .contacts{
                        & span{
                            text-transform: none;
                        }
                        & a {
                         color:$--black-silver; 
                         font-weight: 400;  
                        }
                        
                    }
                   
                }
            }
        }
        &-copy{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            border-radius: 15px;
            border: 1px solid $--gray-line;
            background: $--white;
            padding: 30px 40px;
            background-color: $--white;
            color:  #A0A0A0;
            @media screen and (max-width:767px) {
               flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            & a{
                transition: .3s linear;
                @media (hover:hover) and (pointer:fine) {
                    &:hover{
                        color: $--blue;
                    }
                }
            }
        }
    }
}