.gallery{
    margin-bottom: 120px;
    @media screen and (max-width:1023px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width:1023px) {
        margin-bottom: 50px;
    }
    &__container{
        & img{
            object-fit: cover;
            border-radius: 10px;
        }
        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            & h2{
                margin-bottom: 0;
            }
        }
        &-wrap{
            display: flex;
            flex-direction: column;
            gap: 40px;
            &-btns{
                display: flex;
                align-items: center;
                gap: 20px;
                overflow: hidden;

                @media screen and (max-width:767px){
                    overflow-x: scroll;
                } 
                &-btn{
                    white-space: nowrap;
                }
            }
            &-content{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
               @media screen and (max-width:767px) {
                grid-template-columns: repeat(2, 1fr);
               }
               @media screen and (max-width:367px) {
                display: flex;
                flex-direction: column;
               }
                
               
            }
        }
        .gallery__container-top-arrows{
            @include arrowsWrap;
        }
    }
}
.gallery .swiper-pagination-bullet.swiper-pagination-bullet {
    border-color: transparent;
    background-color: $--gray-line;
}
.gallery .swiper-pagination-bullet-active.swiper-pagination-bullet-active {
    background-color: $--black-silver;
}