
.main{
    margin-top: 105px;
    margin-bottom: 120px;
    &__container{
        border-radius: 20px ;
        position: relative;
        display: flex;
        @media screen and (max-width:895px) {
            flex-direction: column-reverse;
        }
        &-content{
            display: flex;
            flex-direction: column;
            background-color: $--black-silver;
            border-radius: 20px;
            justify-content: center;
            padding:40px;
            width: 47%;
            color: $--white;  
            @media screen and (max-width:895px) {
                width: 100%;
                margin-top: -30px;
            }
            @media screen and (max-width:767px) {
                max-width: 100%;
                margin-top: -30px;
            }
            @media screen and (max-width:767px) {
               justify-content: center;
               padding: 20px;
            }
            & div{
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 5px;
                margin-bottom: 25px;
                @media screen and (max-width:550px) {
                    font-size: 12px;
                    align-items: flex-start;
                }
                @media screen and (max-width:367px) {
                    flex-wrap: wrap;
                }
                & span{
                    display: flex;
                    padding: 5px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 500px;
                    background-color: $--blue;
                }
            }
            & h1{
                margin-bottom: 10px;
            }
            & p:nth-last-of-type(1){
                margin-bottom: 40px;
            }
            .btn{
                max-width: 291px;
                @media screen and (max-width:895px) {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
       
            & img{
                margin-left: -10px;
            width: 53%;
            z-index: -1;
            border-radius: 0 20px 20px 0;
                object-fit: cover;
                border-radius: 0 20px 20px 0;
               @media screen and (max-width:895px) {
                max-height: 450px;
                border-radius: 20px 20px 0px 0;
                margin-left: 0px;
                max-width:100%;
                width: 100%;
                border-radius: 20px 20px 0px 0;
               }
            // }
            
        }
    }
}